<body>
<div class="BF">
  <h1>Book Flight</h1>
  <div class ="FormG">
  <form>
    <div class="FullName">
      <label for="Fullname">Full Name<br></label>
      <input type="text"formControlName="fullname">
    </div>
    <div class="Fromto">
      <label>Form</label>
      <select formControlName="from">
        <option value="null" disabled>Choose Country</option>
        <option value="Singapore">Singapore</option>
        <option value="China">China</option>
        <option value="Japan">Japan</option>
        <option value="Korea">Korea</option>
      </select>
    </div>
    <div class="Direction">
      <label>To</label>
      <select formControlName="arrival"></select>
    </div>
    <div class="Triptype">
      <label class="TT">Trip Type</label><br>
      <input type="radio" value="One Way" formControlName="type">One Way<br>
      <input type="radio" value="Return" formControlName="type">Return<br>
    </div>
    <div class="Departure">
      <label class="Dt">Departure</label>
      <input type="date" formControlName="departure">
      <label class="Ar">Arrival</label>
      <input type="date" formControlName="from">
      <br>
    </div>
    <div class="Person">
      <label class="Ad">Adults</label>
      <input type="number">


      <label class="Cd">Children</label>
      <input type="number">

      <label class="If">Infants</label>
      <input type="number">
    </div>
    <div class="Submitt">
      <input type="button" value="Submit">
    </div>
  </form>
</div>
</div>
</body>
