body{
  background-color: burlywood;
  width: 100%;
  height: 100%;
}
h1{
  text-align: center;
  margin: 30px;
  margin-bottom: 60px;
  font-family: "Mortina_Demo",Arial, Helvetica, sans-serif;
}

.FormG{
  margin: 0 auto;
    width: 600px;
    height: 520px;
    font-family: "Mortina_Demo",Arial, Helvetica, sans-serif;
    border-color: brown;
    border: 2px solid brown;
    border-radius: 5%;
}
input,select{
  border-radius: 2px;
  border: 2px solid chocolate;
  box-sizing: border-box;
  font-size: 1.3em;
  font-family: "Mortina_Demo",Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 12px;
}
.FullName{
  margin: 15px;
}
.Fromto{
  margin: 15px;
  width: 45%;
  display: inline-block;
}
.Direction{
  margin: 15px;
  width:45%;
  display: inline-block;
}
.Triptype,.Departure,.Person{
  margin-left: 2.7%;
  margin-bottom: 25px;

}
.Departure,.Person{
  margin-left: 4.2%;
}
input[type="radio"]{
  width: 28px;
}

input[type="button"]{
width: 160px;
border-radius: 8px;
background-color: brown;
}
.Submitt{
  text-align: center;
}
input[type="date"]{
  width: 32%;
  font-size: 16px;
}
.Dt,.Ar,.Ad,.Cd,If{
  padding-right: 12px;
}
.Ar{
  padding-left: 16px;
}
input[type="number"]{
  width: 70px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.Person{
  margin-left: 10%;
}
.Cd,.If{
  padding-left: 15px;
}
.If{
  padding-right: 16px;
}
